*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    color: #333;
}

html,
body{
    min-height: 100vh;
    height: auto;
}

html{
    background: linear-gradient(180deg, #ea02ff 0%, #0097ff 100%);
}

input:focus{
    outline: none;
}

#register-container{
    max-width: 900px;
    min-height: 80vh;
    margin: 2rem auto;
    display: flex;
    box-shadow: #32325d40 0px 13px 27px -5px, #0000004d 0px 8px 16px -8px;
}

#register-banner{
    background-image: url('../img/bg-form.jpg');
    background-position: center;
    background-size: cover;
    width: 50%;
}

.banner-layer{
    background-color: rgba(25,11,122, 0.7);
    height: 100%;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-layer h1{
    font-size: 4rem;
    margin-bottom: 1.5rem;
    color: #fff;
    word-spacing: 50rem;
    
}